*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DDCFBF;
}
.cabecera{
    background-color: #634532;
    color: #DDCFBF;
    padding: 5px 0;
    margin-bottom: 0px ;
    border-bottom: solid white 5px 
}
.contenedor-cabecera{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100px;
}
.logo img{
    height: 100px;
    display: block;
}
.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.lista-menu{
    list-style: none;
    display: flex;
    gap: 50px;
}
.lista-menu li a{
    color: #DDCFBF;
    text-decoration: none;
    font-size: 16px;
}
.lista-menu li a:hover{
    color: white;
}
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: aqua;
    z-index: 2;
}
.contenedor-banner{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding: 0 20px;
    text-align: center;
    color: white;
}
.contenedor-banner h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.contenedor-banner p{
    font-size: 20px;
    margin-bottom: 30px;
}
.btn-principal {
    background-color: #634532;
    color: #DDCFBF;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-principal:hover{
    background-color: white;
    color: #634532;
}
.grid-dos{
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 18px;
}

.card-info{
  background: #DDCFBF;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 6px 18px #634532;

}

.card-info h3{
  color: #DDCFBF;
  margin-bottom: 10px;
}

.card-info p + p{
  margin-top: 15px;
}

.destacado{
  border-left: 6px solid #634532 ;
}

.lista-check{
  margin-top: 10px;
  padding-left: 18px;
}

.lista-check li{
  margin: 6px 0;
}
.grid-servicios{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.tarjeta-servicio{
  background: #DDCFBF;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 6px 18px #634532;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tarjeta-servicio h3{
  color: #634532;
}

.link-tarjeta{
  margin-top: auto;
  font-weight: 700;
  color: #634532;
}

.link-tarjeta:hover{
  text-decoration: underline;
}
.formulario{
  background: #DDCFBF;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 6px 18px #634532;
  max-width: 650px;
}

.campo{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
}

label{
  font-weight: 700;
  color: #634532;
}

input, textarea{
  font: inherit;
  padding: 12px 12px;
  border: 1px solid #634532;
  border-radius: 8px;
  outline: none;
}

input:focus, textarea:focus{
  border-color: #634532;
  box-shadow: 0 0 0 3px #634532;
}
.pie{
  background: #634532;
  color: #DDCFBF;
  padding: 18px 0;
  margin-top: 20px;
  border-top: 5px solid #634532;
}

.pie-contenido{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
}

.mini{
  opacity: 0.9;
  font-size: 14px;
}
