*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DDCFBF;
}
.cabecera{
    background-color: #634532;
    color: #DDCFBF;
    padding: 5px 0;
    margin-bottom: 20px ;
}
.contenedor-cabecera{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40;
}
.logo img{
    height: 125px;
    display: block;
}

