*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DDCFBF;
}
.cabecera{
    background-color: #634532;
    color: #DDCFBF;
    padding: 5px 0;
    margin-bottom: 20px ;
    border-bottom: solid white 5px 
}
.contenedor-cabecera{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100px;
}
.logo img{
    height: 100px;
    display: block;
}
.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.lista-menu{
    list-style: none;
    display: flex;
    gap: 50px;
}
.lista-menu li a{
    color: #DDCFBF;
    text-decoration: none;
    font-size: 16px;
}
.lista-menu li a:hover{
    color: white;
}